<nav class="nav-container">
    <div class="logo" (click)="this.router.navigate(['/'])">
        <img src="../../../assets/img/icons8-gmail-48.png" alt="" />
        <span>Gmail</span>
    </div>
    <div class="search-bar">
        <input (input)="setFilter()" [(ngModel)]="filterBy.txt" placeholder="Search in mail" type="search">
    </div>
    <div class="user-area">
        <mat-icon class="settings-icon">settings</mat-icon>
        <div class="user">
            <div class="user-avatar">
                <span>B</span>
            </div>
            <h3>Bar</h3>
        </div>
    </div>
    <!-- <div class="flex">
        <a routerLinkActive="active-nav" routerLink="/home" [routerLinkActiveOptions]="{exact: true}">
            <div class="flex align-center">
                <span class="nav-txt">Home</span>
            </div>
        </a>
        <a routerLinkActive="active-nav" routerLink="/item" [routerLinkActiveOptions]="{exact: true}">
            <div class="flex align-center">
                <span class="nav-txt">Items</span>
            </div>
        </a>
    </div>
    <a routerLink="/home">
        <img src="./assets/img/logo.png" alt="app-logo" title="Go home" />
    </a> -->
</nav>