<!-- <section class="email-preview" ngClass="{{email?.isRead ? 'opened' : ''}}"> -->
<section class="email-preview" [ngClass]="{'opened': email?.isRead, 'selected': isSelected }">
    <div class="email-actions">
        <ng-content></ng-content>
    </div>
    <h3>{{email?.from}}</h3>
    <div class="email-info">
        <h4>{{email?.subject}}</h4>
        <p>{{email?.body}}</p>
    </div>
    <div class="quick-actions">
        <ng-content select="[edit]"></ng-content>
    </div>
    <p class="sent-at">{{email?.sentAt  | date }}</p>
</section>