.email-preview {
    display: flex;
    align-items: center;
    // padding-bottom: 10px;
    // padding-top: 10px;
    padding: 14px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    border: none;
    & > *{
        font-weight: 500;
    }
    &.opened{
        background-color: #f2f6fc;
        & > *{
            font-weight: 300;
        }
    }
    &.selected{
        background-color: #C2DBFF;
    }
    h3 {
        flex-basis: 30%;
        max-width: 300px;
        overflow: hidden;
        white-space: nowrap;  
        text-overflow: ellipsis;
    }
    .email-actions {
        flex-basis: 5%;
        max-width: max-content;
    }
    .email-info {
        display: flex;
        align-items: center;
        flex: 1;
        overflow: hidden;
        max-width: 100%;
        h4{
            width: max-content;
            min-width: 30%;
            max-width: 50%;
            font-size: 14px;
            font-weight: bolder;
        }
        p{
           max-width: 100%;
           color: #5f6368;;
           font-size: 14px;
           font-weight: 400;
        }
        p,h4{
            overflow: hidden;
            white-space: nowrap;  
            text-overflow: ellipsis;
        } 
     }
     .quick-actions{
        display: none;
        margin-left: 20px;
        background-color: transparent;
     }
    h3,
    h4,
    p {
        margin: 0;
        margin-left: 15px;
    }
    .sent-at{
        margin-left: 25px;
    }
    &:hover{
        z-index: 10;
        position: relative;
        box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        .sent-at{
            display: none;
        }
        .quick-actions{
            display: block;
        }
    }
}

