@import "../../../node_modules/@angular/material/prebuilt-themes/purple-green.css";

// Setup
@import "./setup/functions";
@import "./setup/vars";
@import "./setup/mixins";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// Basic
@import "./basic/base";
@import "./basic/fonts";
@import "./basic/layout";
@import "./basic/helpers";

mat-icon {
    color: #444746;
    cursor: pointer;
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
}

.mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-container-color: #282828;
    --mdc-snackbar-supporting-text-color: white;
}

@media screen and (max-width: 640px) {
    app-header {
        .nav-container {
            .logo {
                max-width: 120px;
            }
            .user-area {
                display: none !important;
            }
        }
    }
    .email-app-container {
        side-bar {
            display: none;
        }
        email-edit {
            .email-edit {
                width: 90%;
                height: 80%;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
        email-preview {
            .email-preview {
                position: relative;
                flex-direction: column;
                height: 100px;
                align-items: flex-start;
                .email-info {
                    flex-direction: column;
                    align-items: start !important;
                    h4 {
                        max-width: 100% !important;
                    }
                }
                .email-actions {
                    input {
                        display: none;
                    }
                    position: absolute;
                    top: 20;
                    right: 10px;
                }
                .sent-at,
                .quick-action {
                    display: none;
                }
            }
        }
    }
}
