@import "../../../node_modules/@angular/material/prebuilt-themes/purple-green.css";

// Setup
@import "./setup/functions";
@import "./setup/vars";
@import "./setup/mixins";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// Basic
@import "./basic/base";
@import "./basic/fonts";
@import "./basic/layout";
@import "./basic/helpers";

mat-icon{
    color: #444746;
    cursor: pointer;
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
}

@media screen and (max-width:640px) {
    .email-app-container{
        side-bar{
            display: none;
        }
    }
}

