:host{
  grid-area: main;
  overflow-y: hidden;
}
.item-app-container {
  display: flex;
  height: 100%;
}

.error-msg {
  background-color: rgb(245, 206, 214);
  padding: 5px;
  position: absolute;
  top: 0;
  right: 10px;
}
