<main class="item-app-container">
<side-bar [filterBy]="filterBy$ | async" (filter)="setFilter($event)" (toggle)="addingNew = !addingNew"></side-bar>
    <!-- <div class="email-list">
        <p *ngIf="isLoading$ | async">⏱ Loading...</p>
        <item-list (toggledStar)="toggleStar($event)" (toggledRead)="toggleRead($event)" (archived)="archiveItem($event)" (deleted)="deleteItem($event)" (edited)="editItem($event)"[items]="items$ | async">
        </item-list>
    </div> -->
    <router-outlet></router-outlet>
    <section *ngIf="addingNew || (item$ | async)">
        <item-edit (close)="addingNew =false" (saved)="addingNew=false"></item-edit>
    </section>
</main>