<section class="side-bar">
<div class="compose-btn">
        <mat-icon>add</mat-icon>
        <button>compose</button>
</div>
<div class="nav-btns">
    <div class="nav-btn">
        <mat-icon>inbox</mat-icon>
        <button>Inbox</button>
    </div>
    <div class="nav-btn">
        <mat-icon>star_border</mat-icon>
        <button>Starred</button>
    </div>
    <div class="nav-btn">
        <mat-icon>access_time</mat-icon>
        <button>Snoozed</button>
    </div>
    <div class="nav-btn">
        <mat-icon>send</mat-icon>

        <button>Sent</button>
    </div>
    <div class="nav-btn">
        <mat-icon>drafts</mat-icon>

        <button>Drafts</button>
    </div>
</div>

</section>