// BASE
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.6;

}

app-root{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 'header' 'main';
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // margin: 0 0 0.6em;
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: rem(68);
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
  max-width: 40ch;
}

pre {
  background-color: lightgray;
  outline: 1px solid darkgray;
  padding: 3px;
  font-family: 'Courier New', Courier, monospace;
}
button {
  cursor: pointer;
}
