:host{
    overflow-y: hidden;
    max-height: 100%;
    flex: 1;
    overflow-y: hidden;  
}
.card-grid {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 14px;
    max-height: 99%;
    .email-header {
        display: flex;
        align-items: center;
        gap: 15px;
        .icon{
            font-size: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
    section.actions{
        display: flex;
        align-items: center;
        gap: 13px;
        .star-icon{
            color: #DDDEDE;
            &.starred{
                color:#F5B400;
            }
        }
    }
    .quick-actions{
        width: 100%;
        display: flex;
        gap: 15px;
    }
    .item-preview{
        overflow-y: scroll;
    }
}
