<section class="email-edit">
    <div class="email-header">
        <span>{{itemEditState}} Email</span>
        <button (click)="closeModal()">x</button>
    </div>
    <form (submit)="$event.preventDefault();saveItem()">
        <div class="email-info">
            <input type="text" name="to" [(ngModel)]="item.to" placeholder="To" />
            <input type="text" name="subject" [(ngModel)]="item.subject" placeholder="Subject" />
        </div>
        <hr/>
        <div class="email-body">
            <textarea name="body" [(ngModel)]="item.body"></textarea>
        </div>
        <div class="email-actions">
            <button>{{itemEditState}}</button>
        </div>
    </form>
</section>
<!-- <pre>{{item | json}}</pre> -->