<section class="item-preview" ngClass="{{item?.isRead ? 'opened' : ''}}">
    <div class="email-actions">
        <ng-content></ng-content>
    </div>
    <h3>{{item?.from}}</h3>
    <div class="email-info">
        <h4>{{item?.subject}}</h4>
        <p>{{item?.body}}</p>
    </div>
    <div class="quick-actions">
        <ng-content select="[edit]"></ng-content>
    </div>
    <p class="sent-at">{{item?.sentAt  | date }}</p>
    <!-- <hr /> -->
    <!-- Cannot put class on ng-content ): -->

</section>