:host{
  grid-area: main;
}

.home-page {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  // background-color: #282828;
  justify-content: center;  
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo {
      display: flex;
      align-items: center;
      gap: 20px;
      h1{
        font-size:128px;
      }
    }
  }
}

@media screen and (max-width:640px) {
  .home-page{
    .home-container{
      gap: 60px;
      .logo{
        flex-direction: column;
        img{
          width: 200px;
        }
        h1{
          font-size: 64px;
        }
      }
    }
  }
  
}