:host{
    overflow-y: hidden;
    max-height: 100%;
    max-width: 100%;
    flex: 1;
    overflow-y: hidden;  
}
.card-grid {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-height: 99%;
    .gmail-checkbox {
        position: relative;
        accent-color: #C2DBFF;
      }
      
      .gmail-checkbox::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgb(173, 170, 170);
        opacity: 0;
        transform: scale(0);
        border-radius: 50%;
      } 
      
      .gmail-checkbox:hover::before {
        transform: scale(3);
        opacity: 0.1;
        transition: transform opacity;
        transition-duration: 0.3s;
      }
      
      .gmail-checkbox::after {
        content: '';
        position: absolute;
        inset: 0;
        transform: scale(3);
      }
    .email-header {
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 15px;
        .icon{
            font-size: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
    section.actions{
        display: flex;
        align-items: center;
        gap: 13px;
        .star-icon{
            color: #bcbcbc;
            &.starred{
                color:#F5B400;
            }
        }
    }
    .quick-actions{
        width: 100%;
        display: flex;
        gap: 15px;
    }
    .email-preview{
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}
