<section class="email-details" *ngIf="(email)">
    <div class="actions">
        <mat-icon title="Back" (click)="goBack()">arrow_back</mat-icon>
        <mat-icon title="Archive" (click)="archiveEmail()">archive</mat-icon>
        <mat-icon title="Delete" (click)="deleteEmail()">delete</mat-icon>
        <mat-icon title="Mark unread"(click)="toggleRead()">markunread</mat-icon>
        <mat-icon title="Reply" (click)="replyEmail(email._id)">reply</mat-icon>
    </div>
    <div class="info">
        <div class="subject">
            <span class="bold">{{email.subject }}</span>
        </div>
        <div class="sender">
            <div class="avatar">
                <span>{{email.from[0] | uppercase}}</span>
            </div>
            <div class="sender-info">
                <div class="info-container">
                    <span>{{email.from}}</span>
                    <span class="date bold">{{email.sentAt | date:'LLL dd' }}</span>
                </div>
                <span><span class="bold">To me </span><{{email.to}}></span>
            </div>
        </div>
    </div>
    <div class="body">
        <pre>{{email.body }}</pre>
    </div>
</section>