<section class="email-details" *ngIf="(email)">
    <div class="actions">
        <mat-icon (click)="goBack()">arrow_back</mat-icon>
        <mat-icon (click)="archiveEmail()">archive</mat-icon>
        <mat-icon (click)="deleteEmail()">delete</mat-icon>
        <mat-icon (click)="toggleRead()">markunread</mat-icon>
    </div>
    <div class="info">
        <div class="subject">
            <span>{{email.subject }}</span>
        </div>
        <div class="sender">
            <div class="avatar">
                <span>{{email.from[0] | uppercase}}</span>
            </div>
            <div class="sender-info">
                <div class="info-container">
                    <span>{{email.from}}</span>
                    <span class="date">{{email.sentAt | date}}</span>
                </div>
                <span>{{email.to}}</span>
            </div>
        </div>
    </div>
    <div class="body">
        <pre>{{email.body }}</pre>
    </div>
</section>